<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <p [ngStyle]="{'color': selectedColor, 'font-size': fontSize + 'px', 'font-family': fontFamily}">
        Test
      </p>
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="col-sm">
      <input type="color" class="form-control" [(ngModel)]="selectedColor" />
    </div>
    <div class="col-sm">
      <input type="number" class="form-control" [(ngModel)]="fontSize" />
    </div>
    <div class="col-sm">
      <select class="form-control" [(ngModel)]="fontFamily">
        <option value="verdana">Verdana</option>
        <option value="arial">Arial</option>
        <option value="times new roman">Times New Roman</option>
      </select>
    </div>
  </div>
</div>
